<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.mapper.HouseMapper">
    <resultMap id="houseMapper" type="com.cj.pojo.House">
        <id property="houseId" column="houseId"></id>
        <result property="houseNum" column="houseNum"></result>
        <result property="deptNum" column="deptNum"></result>
        <result property="houseType" column="houseType"></result>
        <result property="address" column="address"></result>
        <result property="sellStatus" column="sellStatus"></result>
        <result property="direction" column="direction"></result>
        <result property="memo" column="memo"></result>
        <result property="isDelete" column="isDelete"></result>
        <result property="userId" column="userId"></result>
        <association property="userInfo" column="userId" javaType="UserInfo">
            <id property="userId" column="userId2"></id>
            <result property="userName" column="userName2"></result>
            <result property="loginName" column="loginName2"></result>
            <!--            房产信息关联用户信息时，不显示用户密码-->
            <!--            <result property="password" column="password2"></result>-->
            <result property="sex" column="sex2"></result>
            <result property="age" column="age2"></result>
            <result property="phone" column="phone2"></result>
            <result property="address" column="address2"></result>
            <result property="carId" column="carId2"></result>
            <result property="isEnable" column="isEnable2"></result>
            <result property="isDelete" column="isDelete2"></result>
        </association>
    </resultMap>
    <sql id="defaultSelectHouseInfo">

    </sql>
    <select id="selectHouseInfoByWhere" resultMap="houseMapper">
        SELECT h.*,
        u.userId as userId2,
        u.userName as userName2,
        u.loginName as loginName2,
        u.password as password2,
        u.sex as sex2,
        u.age as age2,
        u.phone as phone2,
        u.address as address2,
        u.carId as carId2,
        u.isEnable as isEnable2,
        u.isDelete as isDelete2
        FROM house h
        LEFT JOIN userInfo u ON h.userId = u.userId
        <where>
            <if test="isDelete != null and isDelete != '' ">
                and h.isDelete = #{isDelete}
            </if>
            <if test="houseNum != null and houseNum != '' ">
                and h.houseNum = #{houseNum}
            </if>
            <if test="deptNum != null and deptNum != '' ">
                and h.deptNum = #{deptNum}
            </if>
            <if test="houseType != null and houseType != '' ">
                and h.houseType = #{houseType}
            </if>
            <if test="address != null and address != '' ">
                and h.address like #{address}
            </if>
        </where>
    </select>
    <select id="selectOwnerHouseInfoByWhere" resultType="House" parameterType="House">
        select houseId,
               houseNum,
               deptNum,
               houseType,
               address,
               direction,
               memo
        from house
        <where>
            <if test="userId != null and userId != '' ">
                and userId = #{userId}
            </if>
            <if test="isDelete != null and isDelete != '' ">
                and isDelete = #{isDelete}
            </if>
            <if test="houseNum != null and houseNum != '' ">
                and houseNum = #{houseNum}
            </if>
            <if test="deptNum != null and deptNum != '' ">
                and deptNum = #{deptNum}
            </if>
            <if test="houseType != null and houseType != '' ">
                and houseType = #{houseType}
            </if>
            <if test="address != null and address != '' ">
                and address like #{address}
            </if>
        </where>
    </select>
</mapper>